.navbar{
  display: flex;
  background-color:hsla(180, 2%, 10%, 0.842);
}

.navbar::after{
  content: "";
  width: 100%;
  background-color: #23272f;
  padding: 10px 0px;
}

body{
  padding-top: 5rem;
}
.navbar_container{
  min-height: 4rem;
  z-index: 1100;
  background-color:hsla(180, 2%, 10%, 0.842);
  position: fixed;
  top:0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0px 0px 8px 0px black;
}

.navbar_l1{
  display: flex;
  align-items: center;
  padding: .3rem;
  flex-grow: 1;
}

.react_logo{
    max-height: 2.5rem;
}

@media (prefers-reduced-motion: no-preference) {
    .react_logo {
      animation: App-logo-spin infinite 10s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }